body{
  background-color: rgba(57, 47, 71, 0.8);
  height: 100vh;
}

button{
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 2px rgba(174, 174, 175, 0.37);
}

#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 350px;
  margin: auto;
  height: 80%;
  box-sizing: border-box;
}

.calc-top{
  display: flex;
  justify-content: space-between;
  height: 10%;
  color: white;
}

.calc{
  font-size: x-large;
  font-weight: 700;
  align-self: center;
}

.theme{
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-size: smaller;
  font-weight: 400;
}

.level{
  width: 40%;
}

.num{
  display: flex;
  justify-content: space-between;
  font-size: x-small;
}

.theme-bar{
  margin-top: 0;
  display: block;
  background-color: rgba(10, 19, 48, 0.2);
  border-radius: 20px;
  width: 100%;
  height: 25%;
}

/* .switch{
  border-radius: 50%;
  padding: 1px;
  border: none;
  background-color: red;
} */

.calc-input{
  width: 100%;
  height: 15%;
  margin-bottom: 5%;
  /* box-sizing: border-box; */
} 

input{
  width: 100%;
  padding-right: 5%;
  background-color: rgba(6, 12, 31, 0.7);
  border: none;
  border-radius: 7px;
  height: 100%;
  font-size: 2.5em;
  color: white;
  text-align: right;
  box-sizing: border-box;
}


.calc-buttons{
  background-color: rgba(22, 25, 36, 0.678);
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5%;
  border-radius: 7px;
  height: 60%;
  margin-top: 5px;
}

.calc-buttons button{
  font-weight: 700;
  font-size: x-large;

}

.del, .reset{
  background-color: rgba(77, 65, 94, 0.5);
  color: white;
  box-shadow: 0px 2px 2px 2px rgba(77, 65, 94, 0.5);
}

.equal{
  grid-column: 3/5;
  grid-row: 5;
  background-color: red;
  color: white;
  box-shadow: 0px 2px 2px 2px rgba(236, 26, 26, 0.77);
}

.reset{
  grid-column: 1/3;
  grid-row: 5;
}


@media (min-width: 920px){
  .container{
    max-width: 370px;
    margin: auto;
    height: 70%;
    box-sizing: border-box;
  }

  .calc-input{
    width: 100%;
    height: 17%;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  input{
    width: 100%;
    padding-right: 5%;
    background-color: rgba(6, 12, 31, 0.7);
    border: none;
    border-radius: 7px;
    height: 100%;
    font-size: 2.5em;
    color: white;
    text-align: right;
    box-sizing: border-box;
  }
}

@media (max-width: 300px) {
  .container{
    max-width: 95%;
    margin: auto;
    height: 80%;
    box-sizing: border-box;
  }
}